.todo-item {
  width: 280px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: $font-light;
  border: 1px solid $border;
  box-shadow: 2px 2px 4px 0 $shadow-color;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.todo-item__name {
  margin-right: 20px;
  word-break: break-all;
}

.todo-item__button {
  margin-left: auto;
}
