@import "../scss/style";
@import "./components/page-header/page-header";
@import "./components/page-footer/page-footer";

.app {
  padding: 20px 6.25%;
  height: calc(100vh - 160px);
  overflow-y: auto;
}
