.button {
  padding: 9px 15px;
  display: flex;
  justify-content: center;
  color: $font;
  background-color: $background-color;
  cursor: pointer;
  border: 1px solid $main-color;
  box-shadow: 0 4px 20px 8px $shadow-color;
  transition: background-color 0.15s;

  &:hover,
  &:focus {
    color: $font-dark;
    background-color: $main-color;
  }

  &:active {
    opacity: 0.75;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $focus;
  }
}

.button--close {

}
