.page-header {
  padding: 20px 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $font;
  background-color: $background-color;
  box-shadow: 0 4px 20px 8px $shadow-color;
  
  @media (min-width: $screen-tablet) {
    justify-content: flex-start;
  }
}

.page-header__title {
  margin: 0;
  display: block;
  font-size: 24px;

  @media (min-width: $screen-tablet) {
    font-size: 36px;
    line-height: 40px;
  }
}
