/* Screen sizes */

$screen-desktop: 1200px;
$screen-tablet: 768px;
$screen-mobile: 320px;

/* Colors */

$background-main-color: #101117;
$background-color: #14151d;

$font: #cfd0d6;
$font-light: #6b6f88;
$font-dark: $background-color;

$main-color: #4b92e3;

$focus: $main-color;
$button: $main-color;

$shadow-color: rgba(0, 0, 0, .3);
