/* Screen sizes */

$screen-desktop: 1200px;
$screen-medium: 768px;
$screen-mobile: 320px;

/* Colors */

$font: #3d3d3d;
$font-light: #ffffff;

$focus: #536dfe;

$main-color: #512da8;

$border: #cccccc;
$button: $main-color;
$button-reset: #f44336;
$button-disabled: #90a4ae;

$background-color: #ececec;

$shadow-color: #bbbbbb;
